{% extends 'first/base.html' %}
{% load static %}
{% block title %}
{% endblock %}
{% block content %}
    <!-- <h1>Корзина</h1>
    <table class="cart">
        <tbody>
        {% for item in cart %}
            {% with product=item.product %}
                <tr class="cart-row">
                    <td>
                        <a>
                            <img src="
                                {% if product.image %}
                                    {{ product.image.url }}
                                {% else %}
                                    {% static 'img/no_image.png' %}
                                {% endif %}" height="150" width="150">
                        </a>
                    </td>
                    <td><div>{{ product.name }}</div>
                        <div>{{ item.price }} тг.</div>
                    </td>
                    <td> - {{ item.quantity }} + </td>
                    <td class="num">{{ item.total_price }} тг.</td>
                    <td><a href="{% url 'cart:cart_remove' product.id%}">Х</a></td>
                </tr>
            {% endwith %}
        {% endfor %}
        <tr class="total">
            <td>Итого</td>
            <td colspan="4"></td>
            <td class="num">{{ cart.get_total_price }} тг.</td>
        </tr>
        </tbody>
    </table>
    <p class="text-left">
        <a href="/shop" class="button light">Continue shopping</a>
        <a href="#" class="button">Checkout</a>
    </p> -->
    <section id="cart_items">
		<div class="container">
			<div class="table-responsive cart_info">
				<table class="table table-condensed">
					<thead>
						<tr class="cart_menu">
							<td class="image">Товар</td>
							<td class="description"></td>
							<td class="price">Цена</td>
							<td class="quantity">Количество</td>
							<td class="total">Итого</td>
							<td></td>
						</tr>
					</thead>
					<tbody>
                        {% for item in cart %}
                            {% with product=item.product %}
                                <tr>
                                    <td class="cart_product">
                                        <a>
                                            <img src="
                                                {% if product.image %}
                                                    {{ product.image.url }}
                                                {% else %}
                                                    {% static 'img/no_image.png' %}
                                                {% endif %}" height="150" width="150">
                                        </a>
                                    </td>
                                    <td class="cart_description">
                                        <h4><a href="">{{ product.name }}</a></h4>
                                    </td>
                                    <td class="cart_price">
                                        <p>{{ item.price }} тг.</p>
                                    </td>
                                    <td class="cart_quantity">
                                        <div class="cart_quantity_button">
                                            <a class="cart_quantity_up" href=""> + </a>
                                            <input class="cart_quantity_input" type="text" name="quantity" value="{{ item.quantity }}" autocomplete="off" size="2">
                                            <a class="cart_quantity_down" href=""> - </a>
                                        </div>
                                    </td>
                                    <td class="cart_total">
                                        <p class="cart_total_price">{{ item.total_price }} тг.</p>
                                    </td>
                                    <td class="cart_delete">
                                        <a class="cart_quantity_delete" href="{% url 'cart:cart_remove' product.id%}"><i class="fa fa-times"></i></a>
                                    </td>
                                </tr>
                            {% endwith %}
                        {% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	</section> <!--/#cart_items-->
{% endblock %}